body {
	background-color: #171717;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	font-size: 48px;
	margin-top: 50px;
}

div {
	background-color: #0c0c0c;
	padding: 20px;
	margin: 0 auto;
	margin-top: 50px;
	max-width: 500px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

p {
	font-size: 64px;
	margin: 0;
	text-align: center;
}

button {
	background-color: #f44336;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	margin-right: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.start-btn {
	background-color: #4CAF50;
}

.reset-btn {
	background-color: #ff9800;
}

.stop-btn {
	background-color: #f44336;
}

button:hover {
	background-color: #3e8e41;
}

button:active {
	background-color: #2e6226;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

button:disabled {
	background-color: #999;
	cursor: not-allowed;
}

button:disabled:hover {
	background-color: #999;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 500px) {
	div {
		max-width: 90%;
	}
}
